<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--这是我们的View-->
		<div id="app">
			{{ message }}
			<p>Using mustaches: {{ rawHtml }}</p>
			<p>Using v-html directive: <span v-html="rawHtml"></span></p>
			<button v-bind:disabled="isButtonDisabled">Button</button>
			<div class="static"v-bind:class="{ active: isActive, 'text-danger': hasError }">???</div>
			<div v-if="Math.random() > 0.5">
				Now you see me
			  </div>
			  <div v-else>
				Now you don't	
			  </div>
			  <input v-model="message" placeholder="edit me">
			  <p>Message is: {{ message }}</p>
			  <input type="checkbox" id="checkbox" v-model="checked">
				<label for="checkbox">{{ checked }}</label>
		</div>
		<div id="demo">{{ fullName }}</div>
		<div id="components-demo">
			<button-counter></button-counter>
		</div>
		<div id="blog-post-demo">
			<blog-post
				v-for="post in posts"
				v-bind:key="post.id"
				v-bind:title="post.title"
			></blog-post>
		</div>

        
	</body>
	<script src="js/vue.js"></script>
	<script>
		// 这是我们的Model
		var exampleData = {
			message :'',
			checked : true
        } 
        Vue.component('button-counter', {
  			data: function () {
    			return {
      				count: 0
   	 				}
  		},
  		template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
		})
		Vue.component('blog-post', {
			props: ['title'],
			template: '<h3>{{ title }}</h3>'
			})
		new Vue({
			el:'#components-demo'
		})
		Vue.component('blog-post', {
			props: ['title'],
			template: '<h3>{{ title }}</h3>'
		})
		// 创建一个 Vue 实例或 "ViewModel"
		// 它连接 View 与 Model
		new Vue({
			el: '#app',
			data: exampleData
		})
		var vm = new Vue({
			el: '#demo',
			data: {
				firstName: 'Foo',
				lastName: 'Bar',
				fullName: 'Foo Bar'
			},
			watch: {
				firstName: function (val) {
				this.fullName = val + ' ' + this.lastName
				},
				lastName: function (val) {
				this.fullName = this.firstName + ' ' + val
				}
			}
			})
			new Vue({
  				el: '#blog-post-demo',
 				 data: {
    				posts: [
						{ id: 1, title: 'My journey with Vue' },
						{ id: 2, title: 'Blogging with Vue' },
						{ id: 3, title: 'Why Vue is so fun' }
						]
					}
					})
			
	</script>
</html>